.dialog-container {
    position: relative;


    .mat-progress-bar {
        position: absolute;
        right: -24px;
        left: -24px;
        top: -24px;
        width: calc(100% + 48px);
    }

}